.container {
    margin-top: 100px; 
    margin-bottom: 100px;
}
.login-button {
    margin-right: 20px;
}
.login-choice {
    margin-left: 10px;
    margin-right: 10px;
}
.loggedIn {
    padding: 10px;
    border: 1px solid #4db8ff;
    border-radius: 5px;
}